body {

margin: 0;
padding:0;
}

*,::before,::after{box-sizing: border-box;}

:root {

    /* Variables globales */
    --color__text: green;
    --padding: 0.3em;
   

} 
.container{
    position: relative;
    border:1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    
}
.image{
    position: absolute;
    display: block;
    
}
.image:hover{
    filter:blur(3px)

}
/* .images{
    position: absolute;
    display: block;
    width: 100%;
} */
















