body{
margin: 0;
padding: 0 1em 0 1em;
/* min-height: 100vh; */
/* max-width: 1200px; */
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
div{
    width: 300px;
    border-radius: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    margin-top: 1em;
    transform: scale(0);
    animation: scalar 1s  linear alternate;
   
    
    
}
@keyframes scalar{
    to{
        transform: scale(1);
    }
}
